%table.simple_table
  %thead
    %tr
      %th= t(".to_callsign")
      %th= t(".rst_from")
      %th= t(".rst_to")
      %th= t(".qth")
      %th= t(".utc_date")
      %th= t(".utc_time")
      %th= t(".qsl")
  %tbody
    - @entries.each do |entry|
      %tr
        %td= entry.to_callsign
        %td= entry.rst_from
        %td= entry.rst_to
        %td= entry.qth
        %td= entry.utc.to_date
        %td= entry.utc.to_time
        %td= t("qsl." + entry.qsl.to_s)