%h2= t(".simple_mode")
%h3= t(".your_log")
- if @entries.empty?
  %p.empty= t(".empty")
- else
  = render partial: "simple_table"
= link_to t(".start_logging"), simple_logging_path
= link_to t(:back), modes_path