%h2= t(".simple_mode")
%h3= t(".logging")
.logging
  = form_for @new_entry, url: simple_create_path, remote: true do |f|
    .row
      = f.label :to_callsign
      = f.text_field :to_callsign
      = f.label :rst_to
      = f.text_field :rst_to
      = f.label :rst_from
      = f.text_field :rst_from
      = f.label :name
      = f.text_field :name
      = f.label :qth
      = f.text_field :qth
      = label_tag :utc_date, t(:utc_date)
      = date_field_tag :utc_date, Time.now.utc.to_date
      = label_tag :utc_time, t(:utc_time)
      = time_field_tag :utc_time, format_time(Time.now.utc)
      = check_box_tag :auto_utc, 1, checked: true
      = label_tag :auto_utc, t(:auto_utc)
    .row
      = f.label :notes
    .row
      = f.text_area :notes, rows: 10, cols: 30
    .row
      = token_tag
      = f.submit t(:submit_qso)
%h3= t(".last_log_entries")
.last_log_entries
  - if @entries.empty?
    %p.empty= t(".empty")
  - else
    = render partial: "simple_table"
= link_to t(:back), simple_path